
.titulo{
    font-family: monospace;
    color: black;
    text-align: center;
}

.subititulo{
    font-family: monospace;
    text-align: center;
}

.fotomew{
    font-family: monospace;
    text-align: center;
}
